---
layout: default
---

<div class="header-image-container">
    <img class="header-image" src="{{ "/assets/imgs/white-mesh.jpg" | prepend: site.baseurl }}">
</div>

<!--<div class="parallax-container">
    <div class="parallax"><img src="{{ "/assets/imgs/white-mesh.jpg" | prepend: site.baseurl }}"></div>
</div>-->

<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center text-secondary-color">{{ site.title }}</h1>
        <div class="row center">
            <h5 class="header col s12 light">{{ site.description }}</h5>
        </div>
        <div class="row center">
            <a href="{{ "/about" | prepend: site.baseurl }}"
               class="btn-large waves-effect waves-light">About</a>
        </div>
        <br><br>

    </div>
</div>

<div class="container">
    <div class="row">
        {% for post in site.posts %}
        <div class="col s12 m6">
            <div class="card z-depth-2 hoverable medium">
                <div class="card-image">
                    {% if post.image %}
                        <img src="{{ post.image | prepend: "/assets/" | prepend: site.baseurl }}">
                    {% else %}
                        <img src="https://unsplash.it/800/450?blur">
                    {% endif %}
                    <span class="card-title">
                        {% if post.week %}
                            <b>{{ post.week }}:&nbsp;</b>
                        {% endif %}
                        {{ post.title }}
                    </span>
                </div>
                {% if post.excerpt %}
                <div class="card-content">
                    {{ post.excerpt }}
                </div>
                {% endif %}

                <div class="card-action">
                    <a href="{{ post.url | prepend: site.baseurl }}">Read More</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>